<div class="row">
  <div class="col-12 col-md-4 offset-md-3">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control"
               id="username"
               name="username"
               required
               ngModel
        >
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email"
               class="form-control"
               id="email"
               name="email"
               required
               ngModel
        >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control"
               id="password"
               name="password"
               type="password"
               required
               minlength="6"
               ngModel
        >
      </div>
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input class="form-control"
               id="firstname"
               name="firstname"
               required
               ngModel
        >
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input class="form-control"
               id="lastname"
               name="lastname"
               required
               ngModel
        >
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control"
                id="type"
                name="type"
                required
                ngModel>
          <option value="USER">USER</option>
          <option value="ADMIN">ADMIN</option>
        </select>
      </div>
      <div class="mt-3">
        <button class="btn btn-primary login-btn"
                type="button"
                (click)="navigateToLogin()">
          Login
        </button>
        <button class="btn register-btn"
                type="submit"
        >
          Register
        </button>
      </div>
    </form>
  </div>
</div>
