<div class="container-fluid">
  <div class="row">
    <!-- Left Drawer -->
    <div class="col-md-3">
      <div class="p-3">
        <h5 class="mb-4">Options</h5>
        <ul class="list-group">
          <li class="list-group-item"><a class="text-decoration-none" [routerLink]="['/main/restaurants']">View
            restaurants</a></li>
          <li *ngIf="isAdmin" class="list-group-item"><a class="text-decoration-none" [routerLink]="['/main/reservations']">View
            reservations</a></li>
        </ul>
      </div>
    </div>

    <!-- Main Content Area -->
    <div class="col-md-9">
      <div class="landing-page p-5">
        <h1>Welcome to Restaurant Advisor</h1>
        <p>Your go-to platform for discovering and exploring the best restaurants in town.</p>
        <!-- Add more content as needed -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
