<div class="card mb-3">
<!--  <img src="{{ restaurant.imageUrl }}" class="card-img" alt="{{ restaurant.name }}">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">{{ restaurant.name }}</h5>-->
<!--    <p class="card-text">{{ restaurant.description }}</p>-->
<!--    <p class="card-text"><small class="text-muted">Location: {{ restaurant.address }}</small></p>-->
<!--    <p class="card-text"><small class="text-muted">Available guests: {{ restaurant.maximumGuestNumber }}</small></p>-->
<!--  </div>-->
</div>
